* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    background-color: #006CFA;
    color: white;
    border: 1px solid white;
    text-align: center;
    min-height: 2.5rem;
    padding: 1rem;
}

.nested {
    background-color: #00E165;
    padding: 1rem;
    color: white;
    min-height: 2.5rem;
    border: 1px solid #006CFA;
    text-align: center;
}